<body>
    <app-header></app-header>
    <app-authorized-access-sidebar></app-authorized-access-sidebar>
    <div class="content">
        <div class="alert-Container">
            <ngb-alert
            *ngFor="let alert of alertService.alerts" class="alert" [type]="alert.type" [dismissible]="false" >
            {{ alert.message }}
          </ngb-alert>
        </div>
        <div class="content-Header">
            <h2>Admin Dashboard</h2>
            <div class="dashboard-Update">(updates in: {{countdown}} sec)</div>
        </div>
        <div class="totals">
            <div class="total">
                <div class="total-Group">
                    <div class="header active">Mana</div>
                    <div class="number active">{{manaChange[0] | numberFormat}} <img class="decentralandLogo" src="{{decentralandLogo}}" alt=""></div>
                    <div class="dollarAmount active">(${{manaChange[0] * MANA_PRICE | numberFormat}})</div>
                </div>
                <div class="change-Container">
                    <ng-container *ngIf="manaChange[1] > 0; else manaNegativeOrZero">
                        <div class="changes">
                            <div class="change-Indicators">
                                <div class="change-Value value-Positive">
                                    {{manaChange[1].toFixed(1)}}%
                                </div>
                                <div class="change-Icon icon-Positive">
                                    <i class="fa-solid fa-angle-up"></i> 
                                </div>
                            </div>
                            <div class="change-Text">
                               up since last month
                            </div>
                        </div>          
                    </ng-container>
                    <ng-template #manaNegativeOrZero>
                        <ng-container *ngIf="manaChange[1] < 0">
                            <div class="changes">
                                <div class="change-Indicators">
                                    <div class="change-Value value-Negative">
                                        {{manaChange[1].toFixed(1)}}%
                                    </div>
                                    <div class="change-Icon icon-Negative">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </div>
                                </div>  
                                <div class="change-Text">
                                   down since last month
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="manaChange[1] === 0">
                        <div class="changes">
                            <div class="change-Indicators">
                                <div class="change-Value value-Neutral">
                                    {{manaChange[1].toFixed(1)}}%
                                </div>
                                <div class="change-Icon icon-Neutral">
                                    <i class="fa-solid fa-minus"></i>
                                </div>
                            </div>
                            <div class="change-Text">
                                since last month
                            </div>
                        </div>
                        </ng-container>
                    </ng-template>
                </div>
            </div>
            <div class="total">
                <div class="total-Group">
                    <div class="header active">Users</div>
                    <div class="number active">{{userChange[0]}}</div>
                    <div class="dollarAmount active">(Total: {{formateTotals(userChange[2])}})</div>
                </div>
                <div class="change-Container">
                    <ng-container *ngIf="userChange[1] > 0; else hypeNegativeOrZero">
                        <div class="changes">
                            <div class="change-Indicators">
                                <div class="change-Value value-Positive">
                                    {{userChange[1].toFixed(1)}}%
                                </div>
                                <div class="change-Icon icon-Positive">
                                    <i class="fa-solid fa-angle-up"></i> 
                                </div>
                            </div>
                            <div class="change-Text">
                               up since last month
                            </div>
                        </div>          
                    </ng-container>
                    <ng-template #hypeNegativeOrZero>
                        <ng-container *ngIf="userChange[1] < 0">
                            <div class="changes">
                                <div class="change-Indicators">
                                    <div class="change-Value value-Negative">
                                        {{userChange[1].toFixed(1)}}%
                                    </div>
                                    <div class="change-Icon icon-Negative">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </div>
                                </div>  
                                <div class="change-Text">
                                   down since last month
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="userChange[1] === 0">
                        <div class="changes">
                            <div class="change-Indicators">
                                <div class="change-Value value-Neutral">
                                    {{userChange[1].toFixed(1)}}%
                                </div>
                                <div class="change-Icon icon-Neutral">
                                    <i class="fa-solid fa-minus"></i>
                                </div>
                            </div>
                            <div class="change-Text">
                                since last month
                            </div>
                        </div>
                        </ng-container>
                    </ng-template>
                </div>
            </div>
            <div class="total">
                <div class="total-Group">
                    <div class="header active">Channels</div>
                    <div class="number active">{{channelChange[0]}}</div>
                    <div class="dollarAmount active">(Total: {{formateTotals(channelChange[2])}})</div>
                </div>
                <div class="change-Container">
                    <ng-container *ngIf="channelChange[1] > 0; else videoNegativeOrZero">
                        <div class="changes">
                            <div class="change-Indicators">
                                <div class="change-Value value-Positive">
                                    {{channelChange[1].toFixed(1)}}%
                                </div>
                                <div class="change-Icon icon-Positive">
                                    <i class="fa-solid fa-angle-up"></i> 
                                </div>
                            </div>
                            <div class="change-Text">
                               up since last month
                            </div>
                        </div>          
                    </ng-container>
                    <ng-template #videoNegativeOrZero>
                        <ng-container *ngIf="channelChange[1] < 0">
                            <div class="changes">
                                <div class="change-Indicators">
                                    <div class="change-Value value-Negative">
                                        {{channelChange[1].toFixed(1)}}%
                                    </div>
                                    <div class="change-Icon icon-Negative">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </div>
                                </div>  
                                <div class="change-Text">
                                   down since last month
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="channelChange[1] === 0">
                        <div class="changes">
                            <div class="change-Indicators">
                                <div class="change-Value value-Neutral">
                                    {{channelChange[1].toFixed(1)}}%
                                </div>
                                <div class="change-Icon icon-Neutral">
                                    <i class="fa-solid fa-minus"></i>
                                </div>
                            </div>
                            <div class="change-Text">
                                since last month
                            </div>
                        </div>
                        </ng-container>
                    </ng-template>
                </div>
            </div>
            <div class="total">
                <div class="total-Group">
                    <div class="header active">Videos</div>
                    <div class="number active">{{videoChange[0]}}</div>
                    <div class="dollarAmount active">(Total: {{formateTotals(videoChange[2])}})</div>
                </div>
                <div class="change-Container">
                    <ng-container *ngIf="videoChange[1] > 0; else videoNegativeOrZero">
                        <div class="changes">
                            <div class="change-Indicators">
                                <div class="change-Value value-Positive">
                                    {{videoChange[1].toFixed(1)}}%
                                </div>
                                <div class="change-Icon icon-Positive">
                                    <i class="fa-solid fa-angle-up"></i> 
                                </div>
                            </div>
                            <div class="change-Text">
                               up since last month
                            </div>
                        </div>          
                    </ng-container>
                    <ng-template #videoNegativeOrZero>
                        <ng-container *ngIf="videoChange[1] < 0">
                            <div class="changes">
                                <div class="change-Indicators">
                                    <div class="change-Value value-Negative">
                                        {{videoChange[1].toFixed(1)}}%
                                    </div>
                                    <div class="change-Icon icon-Negative">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </div>
                                </div>  
                                <div class="change-Text">
                                   down since last month
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="videoChange[1] === 0">
                        <div class="changes">
                            <div class="change-Indicators">
                                <div class="change-Value value-Neutral">
                                    {{videoChange[1].toFixed(1)}}%
                                </div>
                                <div class="change-Icon icon-Neutral">
                                    <i class="fa-solid fa-minus"></i>
                                </div>
                            </div>
                            <div class="change-Text">
                                since last month
                            </div>
                        </div>
                        </ng-container>
                    </ng-template>
                </div>
            </div>
        </div>


        <div class="totals">
            <div class="companyWallets">
                <div class="header active">Company Wallet</div>
                <div class="number active">{{CompanyWalletbalance | numberFormat}} <img class="decentralandLogo" src="{{decentralandLogo}}" alt=""></div>
                <div class="dollarAmount active">(${{CompanyWalletbalance * MANA_PRICE | numberFormat}})</div>
            </div>
            <div class="companyWallets" >
                <div class="walletDetails" *ngFor="let wallet of firstStageWallets; let i = index">
                    <div class="header" [class.active]="i === currentIndex">{{ wallet.header }}</div>
                    <div class="number" [class.active]="i === currentIndex">{{ wallet.balance | number }} <img class="decentralandLogo" [src]="polygonLogo" alt=""></div>
                </div>
            </div>
            <div class="companyWallets" >
                <div class="walletDetails" *ngFor="let wallet of secondStageWallets; let i = index">
                    <div class="header" [class.active]="i === currentIndex">{{ wallet.header }}</div>
                    <div class="number" [class.active]="i === currentIndex">{{ wallet.balance | number }} <img class="decentralandLogo" [src]="polygonLogo" alt=""></div>
                </div>
            </div>
            <div class="companyWallets" >
                <div class="walletDetails" *ngFor="let wallet of thirdStageWallets; let i = index">
                    <div class="header" [class.active]="i === currentIndex">{{ wallet.header }}</div>
                    <div class="number" [class.active]="i === currentIndex">{{ wallet.balance | number }} <img class="decentralandLogo" [src]="polygonLogo" alt=""></div>
                </div>
            </div>
        </div>



        <div class="graph">
            <div class="header">
                <div class="title">Earnings</div>
                <div class="durations">
                    <div class="duration" [class.active]="activeDuration === 'year'" (click)="yearChart()">Year</div>
                    <div class="duration" [class.active]="activeDuration === 'month'" (click)="monthChart()">Month</div>
                    <div class="duration" [class.active]="activeDuration === 'week'" (click)="weekChart()">Week</div>
                </div>
            </div>
            <div class="canvas-Container" >
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div class="userStats">
            <div class="Stats">
                <div class="header">Todo</div>
                <div class="todos">
                    <div class="todo-Item" *ngIf="failedLogCount >= 0">
                        <div class="todo-Task">Failed Logs</div>
                        <div class="todo-Count">{{failedLogCount}}</div>
                    </div>
                    <div class="todo-Item" *ngIf="channelRequestCount >= 0">
                        <div class="todo-Task">Channel Request</div>
                        <div class="todo-Count">{{channelRequestCount}}</div>
                    </div>
                    <div class="todo-Item" *ngIf="channelUpdatesCount >= 0">
                        <div class="todo-Task">Channel Updates</div>
                        <div class="todo-Count">{{channelUpdatesCount}}</div>
                    </div>
                    <div class="todo-Item" *ngIf="reportedContentCount >= 0">
                        <div class="todo-Task">Reported Content</div>
                        <div class="todo-Count">{{reportedContentCount}}</div>
                    </div>
                </div>
            </div>
            <div class="Stats">
                <div class="header">Channels</div>
  
            </div>
            <div class="Stats">
                <div class="header">Users</div>
  
            </div>
        </div>     
    </div>
    
</body>
