<body>
    <header>
        <h1 class="navbar-brand" routerLink=""><img [src]="Logo"> Sivantis</h1>
    </header>
    <div class="TOS-Container">
        <div class="headerText">Terms Of Service</div>
        <div class="date">Dated October 1st, 2023</div>
        <div class="welcome">Welcome To Sivantis</div>
        <div class="info-Container">
            <div class="section">
                <div class="sectionHeader">Introduction</div>
                <div class="sectionText">
                    Thank you for using the Sivantis platform and the services and features we provide to you as part of the platform (collectively, the “Service”).
                    These Terms of Service (these "Terms") are a legal agreement between you and Sivantis governing your access to and use of the Platform.
                </div>
            </div>
            <div class="section">
                <div class="sectionHeader">Who may use the Service?</div>
                <div class="sectionText">
                    You must be at least 13 years old to use the Service.
                    If you are under 18, you represent that you have your parent or guardian’s permission to use the Service. 
                    Please have them read this Agreement with you.
                    If you are a parent or legal guardian of a user under the age of 18, by allowing your child to use the Service, you are subject to the terms of this Agreement and responsible for your child’s activity on the Service. 
                    <div style="padding-top: 15px;">
                        If you are using the Service on behalf of a company or organization, you represent that you have authority to act on behalf of that entity, and that such entity accepts this Agreement.
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="sectionHeader">Accounts and Registration.</div>
                <div class="sectionText">
                    You may be required to create a Sivantis user account (your "Account") in order to access and use certain features of the Platform. 
                    To do so, you must provide an email address, unique username and password. You are responsible for safeguarding your password and you agree not to disclose your password to any third party. 
                    You are solely responsible for any activities or actions taken under your Account, whether or not you have authorized such activities or actions.
                </div>
            </div>
            <div class="section">
                <div class="sectionHeader">Limitations</div>
                <div class="sectionText">
                    You expressly agree that you are solely responsible for any and all acts and omissions that occur through your use of the Platform, and you agree not to engage in any unacceptable uses of the Platform.
                    In connection with your access to or use of the Platform, you shall not: 
                    (a) share your Account information with another person or otherwise permit another person to access the Platform through your Account;
                    (b) impersonate any person or entity, including, but not limited to, Sivantis personnel, or falsely state or otherwise misrepresent your affiliation with any person or entity; 
                    (c) act in a manner that negatively affects the ability of other users to access or use the Platform; 
                    (d) take any action that imposes an unreasonable or disproportionately heavy load on the Platform or its infrastructure; 
                    (e) interfere with or disrupt the Platform or servers or networks connected to the Platform, or disobey any requirements, procedures, policies or regulations of networks connected to the Platform; 
                    (f) access the Platform in order to build a similar or competitive service; 
                    (g) sell, share, transfer, trade, loan or exploit for any commercial purpose any portion of the Platform, including, but not limited to, your Account and password; or 
                    (i) violate any applicable local, state, provincial, federal or international law or regulation.
                </div>
            </div>
            <div class="section">
                <div class="sectionHeader"> Your Use of the Service</div>
                <div class="sectionText">
                    Sivantis uses Youtube as a service to showcase your content ("Content"). 
                    Therefore, you must adhere to any and all terms and policies put forth by Youtube now and anytime in the future.
                    In order to post, purchase, and receive payment from content on Sivantis, you must connect a valid crypto wallet address.
                    You are responsible for safeguarding your crypto wallet and you agree not to disclose your crypto wallet private key and crypto wallet key phase to any third party.
                </div>
            </div>
            <div class="section">
                <div class="sectionHeader">Removal of Content</div>
                <div class="sectionText">
                    Sivantis reserves the right to remove your content at any time, without notice.
                </div>
            </div>
            <div class="section">
                <div class="sectionHeader">Changing this Agreement</div>
                <div class="sectionText">
                    We may change this Agreement, for example, 
                    (1) to reflect changes to our Service or how we do business - for example, when we add new products or features or remove old ones, 
                    (2) for legal, regulatory, or security reasons, or 
                    (3) to prevent abuse or harm.
                </div>
            </div>
            <div class="section">
                <div class="sectionHeader">No Waiver</div>
                <div class="sectionText">
                    If you fail to comply with this Agreement and we do not take immediate action, this does not mean that we are giving up any rights that we may have (such as the right to take action in the future).
                </div>
            </div>
            
            <div class="section">
                <div class="sectionHeader">Suspension and Termination</div>
                <div class="sectionText">
                    Sivantis reserves the right to suspend or terminate your Account and your access to and use of the Platform, at any time, without notice.
                    Sivantis reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Platform (or any part thereof) with or without notice. 
                    You agree that Sivantis shall not be liable to you or to any third party for any modification, suspension, or discontinuance of the Platform.
                </div>
            </div>
        </div>
    </div>
</body>
