.sub-Header{
    position: relative;
    display: flex;
    top: 70px;
    height: 50px;
    width: calc(100% - 180px);
    left: 180px;
    align-items: center;
    overflow-x: auto;
    padding-left: 15px;
    overflow-y: hidden;
}

@keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    15%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.alert-Container{
    top: 80px;
    position: fixed;
    z-index: 10;
    right: 0;
    padding-right: 10px;
}

.alert {
    opacity: 0;
    animation: fade-in-out 4s ease-in-out forwards;
}


.videos{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 4 equal columns */
    gap: 20px;
    left: 180px;
    width: calc(100% - 180px);
    top: 80px;
    padding: 0 25px 0 25px;
}

@media screen and (max-width: 1350px) {
    .videos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1150px) {
    .videos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .videos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 675px) {
    .videos {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    cursor: pointer;
    background-color: transparent;
    color: rgb(200, 200, 200);
    border: none;
}
.card:hover {
    color: rgb(241, 241, 241);
}

.card-body{
    padding: 0px;
}

.contentThumbnail{
    border-radius: 15px;
    height: 150px;
    margin-bottom: 2px;
}

.contentType{
    justify-content: center;
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: radial-gradient(ellipse at center, rgb(65, 65, 65), rgb(0, 0, 0));
    color: white;
    letter-spacing: 1px;
}

.type-grey {
    background-color: grey;
}

.info{
    display: flex;
    width: 100%;
    border-radius: 5px;
    padding: 2px;
}


.info .youtubeProfilePicture{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.info .info-Colunm{
    padding-left: 5px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    overflow: hidden
}

.info .contentName{
    color: white;
    margin-bottom: 4px;
    max-height: 50px;
    white-space: normal; /* Allow text to wrap within the container */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Set the number of lines before ellipsis */
    -webkit-box-orient: vertical;
    font-size: 16px;
}

.info .info-Colunm .second-Row{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0;
}

.second-Row .youtubeUsername{
    margin-bottom: 2px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 75%;
    display: block;
    overflow: hidden
}

.second-Row .isScum{
    margin-bottom: 2px;
    color: lightcoral;
    font-size: 14px;
    font-weight: 600;
}

.third-Row .releaseDate{
    margin-bottom: 2px;
    font-size: 14px;
}

.info .info-Colunm .forth-Row{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: auto;
}

.forth-Row .pricing-Group{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pricing-Group .singleBuyer{
    display: flex;
    position: relative;
}

.pricing-Group .communityBuyer{
    display: flex;
    position: relative;
}

.pricing-Group .startingCost{
    padding-left: 5px;
    font-size: 14px;
}

.channelNeeded{
    color: gold;
}

p {
    font-size: 14px;
}

.icon {
    position: relative;
    display: flex;
    top:3px;
    font-size: 14px;
}

.options{
    width: 20px;
    display: flex;
    align-items: flex-start;
}

.options i{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options i:hover{
    background-color: rgb(103, 103, 103);
}

[ngbDropdownToggle]::after{
    content: none;
}

[ngbDropdownMenu]{
    background-color: #707070;
    
}

.dropdown-item{
    color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
}

.dropdown-item i{
    margin-right: 5px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-item:hover{
    background-color: #8e8e8e;
}

/* CSS */
.mainButton {
  align-items: center;
  appearance: none;
  background-color: #3f3f3f;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(28, 28, 28, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#3b3b3b 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: "Open Sans", sans-serif;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  min-width: 130px;
  margin-right: 10px;
}

.mainButton:first-child{
    min-width: 190px;
}


.mainButton:hover {
  box-shadow: rgba(126, 126, 126, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #6f6f6f 0 -3px 0 inset;
  transform: translateY(-2px);
}

.mainButton.active{
    background-color: rgb(130, 130, 130);
    box-shadow: rgba(28, 28, 28, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,rgb(100, 100, 100) 0 -3px 0 inset;
  }