<div class="modal-body">
    <div *ngIf="email !== ''; else GetUsername">
        <div class="verify">Forgot Password</div>
        <div class="emailTo">We sent an email to</div>
        <div class="email">{{email}}</div>
        <div class="instructions">
            Just click on the link in that email to verify your email.
            If you don't see it, you may need to check your spam folder.
        </div>
        <div class="findIt">Still can't find it?</div>
        <button class="button" [disabled]="isResendDisabled" (click)="resendEmail()">
            {{ isResendDisabled ? 'Resend in ' + remainingTime + 's' : 'Resend Email' }}
        </button>
    </div>
    <ng-template #GetUsername>
        <div class="verify">Forgot Password</div>
        <div class="header">Enter your username</div>
        <form [formGroup]="usernameForm" class="form">
            <div class="form-Info">
                <div class="input-box">
                    <input type="text"  name="username" id="username" [formControlName]="'username'" required>
                </div>
                <div *ngIf="invalidUsername" class="error-message">
                    The entered username is invalid.
                </div>
                <button type="submit" class="form-button" [disabled]="usernameForm.get('username')?.invalid" (click)="submit()">Submit</button> 
            </div>
        </form>
    </ng-template>
    
</div>
