
.sub-Header{
    position: relative;
    display: flex;
    z-index: 2;
    top: 65px;
    height: 50px;
    color: white;
    width: calc(100% - 200px);
    left: 200px;
    justify-content: space-between;
    align-items: center;
}

.sub-Header-Title{
    font-size: 25px;
    padding-left: 20px;
}

@keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    15%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.alert-Container{
    top: 80px;
    position: fixed;
    z-index: 10;
    right: 0;
    padding-right: 10px;
}

.alert {
    opacity: 0;
    animation: fade-in-out 4s ease-in-out forwards;
}


.videos{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    width: calc(100% - 200px);
    left: 200px;
    top: 65px;
    padding: 0 25px 0 25px;
}

@media screen and (max-width: 1350px) {
    .videos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1150px) {
    .videos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .videos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 675px) {
    .videos {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    cursor: pointer;
    background-color: transparent;
    color: rgb(200, 200, 200);
    border: none;
}
.card:hover {
    color: rgb(241, 241, 241);
}

.card-body{
    padding: 0px;
    background-color: gray;
    border-radius: 5px;
    border: 1px solid black;
}

.contentThumbnail{
    border-radius: 15px;
    height: 150px;
    margin-bottom: 2px;
}

.reportRate{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
}