<div class="sidebar">
        <div class="navigation">
                <button class="nav-Button" routerLink="/Settings/Profile" routerLinkActive="active"><i class="fa-solid fa-user"></i>Profile</button>
                <button class="nav-Button" routerLink="/Settings/Security" routerLinkActive="active"><i class="fa-solid fa-lock"></i>Security</button>
                <button class="nav-Button" routerLink="/Settings/CryptoWallet" routerLinkActive="active"><i class="fa-solid fa-wallet"></i>Crypto Wallet</button>

        </div>
</div>
