<div class="modal-body">
    <div class="header">Channel Request Submitted</div>
    <div class="instructions">
        What's next? Please allow 24 - 48 for your request to be reviewed. 
        Once your request is approved, you and your audience will be able to fund your channel.
    </div>
    <div class="instructions">
        In the mean time, head to your <a (click)="routeToChannel()">Channel Page</a> and start designing your page.
    </div>
    <div class="submit">
        <button class="button" (click)="activeModal.close('Understood')">Understood</button>
    </div>
</div>
