@keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    15%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.alert-Container{
    top: 80px;
    position: fixed;
    z-index: 10;
    right: 0;
    padding-right: 10px;
}

.alert {
    opacity: 0;
    animation: fade-in-out 4s ease-in-out forwards;
}


.Users{
    color: white;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    left: 180px;
    width: calc(100% - 180px);
    top: 80px;
    padding: 0 25px 0 25px;
}