
body{
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: radial-gradient(circle, rgb(65, 64, 64), rgb(20, 20, 20));
  height: 100vh; /* Set the height of the gradient */
}

.grecaptcha-badge { 
  visibility: hidden;
}


input:-moz-placeholder,
input:-moz-placeholder:focus {
  background-color: rgb(56, 55, 55) !important;
  color: white !important;
}

input:-ms-input-placeholder,
input:-ms-input-placeholder:focus {
  background-color: rgb(56, 55, 55) !important;
  color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus { 
  -webkit-box-shadow: 0 0 0 1000px rgb(56, 55, 55) inset !important;
  -webkit-text-fill-color: white !important;
}


/* Style for the track of the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  height: 8px;
}

/* Style for the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 56); /* Color of the thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
}

/* Style for the track (the non-draggable part of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: grey; /* Color of the track */
}

/* Style for the corner (if displayed) */
::-webkit-scrollbar-corner {
  background-color: rgb(190, 190, 190); /* Color of the scrollbar corner */
}