<div class="modal-body">
    <div class="text">Select The Platform</div>
    <div class="circle-outer">
        <ul class="circle">
          <li class="item">
            <a>
              <div class="content first" (click)="addYoutube()">
                <div class="icon">
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <p>Youtube</p>
              </div>
              <div class="background"></div>
            </a>
          </li>
          <li>
            <a>
              <div class="content second" (click)="addTwitch()">
                <div class="icon">
                    <i class="fa-brands fa-twitch"></i>
                </div>
                <p>Twitch</p>
              </div>
              <div class="background"></div>
            </a>
          </li>
              <li>
            <a>
              <div class="content third" (click)="addKick()">
                <div class="icon">
                    <i class="fa-brands fa-kickstarter"></i>
                </div>
                <p>Kick*</p>
              </div>
              <div class="background"></div>
            </a>
          </li>
        </ul>
      </div>
      <div class="note">*Kick API currently not available.</div>
</div>

