<body>
    <app-header></app-header>
    <app-authorized-access-sidebar></app-authorized-access-sidebar>
    <div class="alert-Container">
        <ngb-alert
        *ngFor="let alert of alertService.alerts" class="alert" [type]="alert.type" [dismissible]="false">
        {{ alert.message }}
      </ngb-alert>
    </div>
        <div class="sub-Header">
            <div class="sub-Header-Title">Unresolved Logs</div>
            <div class="log-Categories">
                <button class="mainButton"  routerLink="/AuthorizedUser/Logs/All">All</button>
                <button class="mainButton active"  routerLink="/AuthorizedUser/Logs/Unresolved">Unresolved</button>
                <button class="mainButton"  routerLink="/AuthorizedUser/Logs/Failed">Failed</button>
            </div>
        </div>
        <div class="logs">
            <div *ngFor="let log of UnresolvedLogs" class="latest-Logs-Info">
                <div class="layer-One">
                    <div class="contractStatusEnum">{{log.contractTransactionReceipt.contractStatusEnum}} </div>
                    <div class="contractEnum">{{log.contractEnum}}</div>
                    <div>Log ID: {{log.logId}}</div>
                </div>
                <div class="layer-Two">
                    <div class="contractFunctionEnum">{{log.contractFunctionEnum}}</div>
                    <div *ngIf="log.contentID" class="contentID">Content ID: {{log.contentID}}</div>
                    <div *ngIf="log.channelName" class="channelName">Channel Name: {{log.channelName}}</div>
                    <div *ngIf="log.contractTransactionReceipt.gasUsed" class="gas">Gas Used: {{log.contractTransactionReceipt.gasUsed | numberFormat}}</div>
                </div>
                <div class="layer-Three">
                    <div *ngIf="log.contractTransactionReceipt.revertReason" class="contentID">Reason: {{log.contractTransactionReceipt.revertReason}}</div>
                </div>
                <div class="layer-Four">
                    <div class="creationDate">{{getDate(log.creationDate) | date}}</div>
                    <div *ngIf="log.userID" class="channelName">User ID: {{log.userID}}</div>
                </div>  
                <div class="layer-Five">
                    <button (click)="resolveLog(log.logId)">Resolve</button>
                </div>
            </div>
        </div>
</body>
