<body>
    <app-header></app-header>
    <div class="loading-screen" *ngIf="loading">
        <div class="loader"></div>
        <p>Loading...</p>
    </div>
    <div class="alert-Container">
        <ngb-alert
        *ngFor="let alert of alertService.alerts" class="alert" [type]="alert.type" [dismissible]="false" >
        {{ alert.message }}
      </ngb-alert>
    </div>
    <div class="body">
        <div class="body-container">
            <div class="videoInfo-Container">
                <div class="image" (click)="navigateToYouTubeTrailer()">
                    <img class="thumbnail" (click)="navigateToYouTubeTrailer()" src="{{videoInfo.thumbnail}}" alt="">
                    <div class="image-Content">
                        Watch Trailer
                    </div>
                </div>
                <div class="video-Descriptors">
                    <div class="layer-One">
                        <div class="content-Status">
                            <div class="contentEnum" [ngClass]="getStatusClass(videoInfo.contentEnum)">{{addSpaceBeforeUppercase(videoInfo.contentEnum)}}</div>
                            <div class="isViolator" *ngIf="videoInfo.isViolator">SCUM</div>
                        </div>
                        <div class="duration">Duration: 
                            <div *ngIf="videoInfo.duration; else NotAvailable" class="video-duration">{{formatDuration(videoInfo.duration)}}</div>
                            <ng-template #NotAvailable class="not-Available">N/A</ng-template>
                        </div>
                    </div>
                    <div class="layer-Two">
                        <div class="youtube-Info">
                            <img class="youtubeProfilePicture" src="{{videoInfo.youtubeProfilePicture}}" alt="">
                            <div class="descriptors">
                                <div class="contentName">{{videoInfo.contentName}}</div>
                                <div class="youtubeUsername">{{videoInfo.youtubeUsername}} </div>
                            </div>
                        </div>
                    </div>
                    <div class="layer-Three">
                        <div class="descriptors">
                            <div class="hype">{{videoInfo.hype | numberFormat}} hype</div>
                            <div class="dot"></div>
                            <div class="releaseDate">{{videoInfo.releaseDate | formateDate}}</div>
                        </div>
                        <div class="video-Buttons">
                            <div class="payLater" (click)="payLater()">
                                <button class="payLater-Button">Pay Later</button>
                                <div class="payLater-Status">
                                    <i *ngIf="isPayLater; else Add" class="fa-solid fa-check"></i>
                                    <ng-template #Add><i class="fa-solid fa-plus"></i></ng-template>
                                </div>
                            </div>
                            
                            <div class="watchTrailer" (click)="navigateToYouTubeTrailer()">
                                <button class="watchTrailer-Button">Watch Trailer</button>
                            </div>                
                        </div>
                    </div>
                    <div class="description">{{videoInfo.description}}</div>
                </div>
            </div>
            <div class="middle">
                <div class="manaPrice">${{MANA_PRICE.toFixed(2)}}<img class="decentralandLogo" src="{{decentralandLogo}}" alt="">Mana</div>
                <div class="wallet-Contents">
                    <div class="linked-Wallets" *ngIf="connectedWallet && isLoggedIn; else ConnectWallet">
                        <div class="mana-Form">
                            <div class="form">
                                <div class="input-box" [formGroup]="manaForm">
                                    <span class="dollar-sign">$</span>
                                    <input type="number"[placeholder]="'Enter Your Bid Amount'" name="dollarAmount" id="dollarAmount" [formControlName]="'dollarAmount'" required>
                                    <button (click)="max()">Max</button>
                                </div>
                            </div>
                            <div class="cost">Floor Price: ${{videoInfo.startingCost.toFixed(2)}}</div>
                        </div>
                        <div class="userAddress">
                            <div class="yourbalance">Your balance</div>
                            <div class="address-Info">
                                <div class="manaAccountbalance">{{accountbalance.toFixed(2)}}<img class="decentralandLogo" src="{{decentralandLogo}}" alt=""></div>
                                <div>(${{(accountbalance * MANA_PRICE).toFixed(2)}})</div>
                            </div>
                        </div>
                        <div class="bid">
                            <div *ngIf="hasPaid; else PlaceBet" class="hasPaid">
                                <button class="mainButton" *ngIf="isActive()" [disabled]="loading" (click)="raiseBid()">Riase Bid</button>
                                <div style="margin-bottom: 15px;"></div>
                                <button class="mainButton" *ngIf="isActive()" [disabled]="loading" (click)="cancelBid()">Cancel Bid</button>
                            </div>
                            <ng-template #PlaceBet>
                                <button class="mainButton" *ngIf="isActive()" [disabled]="loading" (click)="bid()">Place Bid</button>
                            </ng-template>
                        </div>
                        <div class="get-More-Mana">
                            <button class="mainButton" (click)="getMoreMana()">Get More Mana</button>
                        </div>
                        <div class="disconnect">
                            <button class="mainButton" (click)="disconnectWallet()">Change Wallet</button>
                        </div>
                    </div>
                    
                    <ng-template #ConnectWallet>
                        <div class="linked-Wallets">
                            <div class="connect-Wallet" *ngIf="isLoggedIn; else LogIn">
                                <button class="mainButton" (click)="connectWallet()">Connect Wallet</button>
                            </div>
                            <ng-template #LogIn>
                                <div class="connect-Wallet login">
                                    <div style="margin-bottom: 20px; color: gold;">Login to place a bid.</div>
                                    <button routerLink="/" class="mainButton">Back Home</button>
                                </div>
                            </ng-template>
                            
                        </div>
                        
                    </ng-template>
                </div>
            </div>
            <div class="right-side">
                <div class="bid-Title">Bids (Max Winners : {{videoInfo.numbBidders}})</div>     
                <div *ngFor="let buyer of sortedListOfBuyers; let i = index" class="buyers" >
                    <div [class.winningBids]="i < videoInfo.numbBidders" [style.animation-delay]="(i * 0.175) + 's'"></div>
                    <div class="buyer-Username">{{buyer[0]}}</div>
                    <div class="buyer-Amount">{{buyer[1] | decimalRound}}</div>
                    <img class="decentralandLogo" src="{{decentralandLogo}}" alt=""> 
                </div>
            </div>
        </div>
    </div>
</body>
