<div class="modal-body">
    <div class="Header">Get More Mana</div>
    <div class="instructions">
        At the bottom of this popup, there is a link to Transak where you can get more Decentraland Mana. To prevent errors make sure you do the following:
    </div>
    <ul>
        <li>Make sure <a href="">Mana</a> is the crypto selected</li>
        <li>Make sure <a href="">Polygon</a> is the network selected</li>
    </ul>
    <img src="{{example}}" alt="">
    <a class="route" (click)="routeToTransak()">Transak</a>
</div>
