@keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    15%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.alert-Container{
    top: 80px;
    position: fixed;
    z-index: 10;
    right: 0;
    padding-right: 10px;
}

.alert {
    opacity: 0;
    animation: fade-in-out 4s ease-in-out forwards;
}


.sub-Header{
    position: fixed;
    display: flex;
    top: 65px;
    height: 50px;
    width: calc(100% - 180px);
    left: 180px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    left: 110px;
}

.content{
    position: relative;
    display: flex;
    top: 120px;
    width: calc(100% - 180px);
    left: 180px;
    justify-content: flex-start;
    padding: 15px;
    color: white;
    flex-direction: column;
}

.header{
    font-size: 20px;
}

.description{
    display: flex;
    padding-bottom: 5px;
}

 .icon{
    cursor: pointer;
    padding-left: 5px;

}



 input{
    border: 1px solid #7d7d7d;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 165px;
    color: white;
    background-color: #7d7d7d;
    outline: none;
    margin-right: 10px;
}

input::placeholder{
    color: rgb(45, 45, 45);
}


.custom-file-input {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 5px;
    background-color: #5b5b5b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.controlHeader{
    margin-top: 20px;
}
 

.entered-Channel-Logo{
    margin-left: 10px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.hidden-input {
    display: none;
}

.streamer-Info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.platform{
    width: 60px;
}

.streamer-Info .streamer-Info-Description{
    display: flex;
}

.remove-Input{
    background-color: rgb(125, 125, 125);
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}


.input-Box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #dadada;
    margin-bottom: 10px;
}

.input-Box button{
    border-style: none;
    height: 25px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}

.channelName-Selection{
    display: flex;
    align-items: center;
}

.addForm{
    width: 100%;
    display: flex;
    justify-content: center;
}

.addForm i{
    padding-right: 5px;
    background-color: #5b5b5b;
}

.addForm .addForm-Button {
    display: inline-block;
    background-color: #5b5b5b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 120px;
}

.submit{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    font-size: 18px !important;
}

.createChannel{
    display: inline-block;
    background-color: rgb(170, 170, 170);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    
}

.createChannel:disabled{
    color: rgb(90, 90, 90);
}

.error-message {
    color: lightcoral;
    font-size: 16px;
  }