@keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    15%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
}


.alert-Container{
    top: 80px;
    position: fixed;
    z-index: 10;
    right: 0;
    padding-right: 10px;
}

.alert {
    opacity: 0;
    animation: fade-in-out 4s ease-in-out forwards;
}
.header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 217, 0, 0.7);
    margin-bottom: 30px;
    padding-top: 20px;
}

.header img{
    height: 40px;
    width: 60px;
}

.container{
    position: relative;
    width: 400px;
    border: 2px solid rgba(255, 217, 0, 0.89);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 217, 0, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 55, 55);
}

.container .Createform{
    width: 100%;
    padding: 40px;
    padding-bottom: 5px;
}

.Createform h2{
    font-size: 2em;
    color: rgba(255, 217, 0, 0.7);
    text-align: center;
    margin-bottom: 10px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba(255, 217, 0, 0.89);
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;

}

.input-box input{
    color: white;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    top: 13px;
    font-size: 1.2em;
    color: white;
    line-height: 57pex;
}

.input-box .icon.eye{
    position: absolute;
    right: 30px;
    top: 13px;
    font-size: 1.2em;
    color: white;
    line-height: 57pex;
    cursor:pointer;
}


.btn{
    width: 100%;
    height: 45px;
    background-color: rgba(255, 217, 0, 0.75);
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.3em;
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
}








.error-message {
    color: lightcoral;
    font-size: 16px;
    justify-content: flex-start;
    align-items: center;
  }

.error-message.confirmPassword{
    text-align: center;
    margin-bottom: 25px;
}





