<body>
    <div class="alert-Container">
        <ngb-alert
        *ngFor="let alert of alertService.alerts" class="alert" [type]="alert.type" [dismissible]="false" >
        {{ alert.message }}
      </ngb-alert>
    </div>
    <div class="header" style="cursor: pointer;" routerLink="/">
        <h1>Sivantis</h1>
        <img src={{logo}} alt="">
    </div>
    <div class="container">
        <div class="Createform">
            <h2>Forgot Password</h2>
            <form action="" method="post" [formGroup]="forgotPasswordForm" (ngSubmit)="changePassword()">  
                <div class="input-box">
                    <span class="icon eye" (click)="togglePasswordVisibility()" >
                        <i class="fa-solid fa-eye" *ngIf="showPassword; else Closed"></i>
                        <ng-template #Closed>
                            <i class="fa-solid fa-eye-slash" ></i>
                        </ng-template>
                    </span>
                    <span class="icon"><i class="fa-solid fa-lock"></i></span>
                    <input [attr.type]="showPassword ? 'text' : 'password'"  name="password" id="password" [formControlName]="'Password'" required>
                    <label for="password" >Password</label>
                </div>
                <div *ngIf="forgotPasswordForm.get('Password')?.invalid && forgotPasswordForm.get('Password')?.touched" class="error-message">
                    <div>Password must contain:</div>
                    <li>8 - 20 charecters</li>
                    <li>At least 1 uppercase letter</li>
                    <li>At least 1 digit</li>
                    <li>At least 1 special charecter</li>
                </div>
                <div class="input-box">
                    <span class="icon eye" (click)="toggleConfirmPasswordVisibility()">
                        <i class="fa-solid fa-eye" *ngIf="showConfirmPassword; else Closed"></i>
                        <ng-template #Closed>
                            <i class="fa-solid fa-eye-slash" ></i>
                        </ng-template>
                    </span>
                    <span class="icon"><i class="fa-solid fa-lock"></i></span>
                    <input
                        [attr.type]="showConfirmPassword ? 'text' : 'password'" 
                        type="confirmPassword"
                        name="confirmPassword"
                        id="confirmPassword"
                        [formControlName]="'ConfirmPassword'"
                        required>
                    <label for="confirmPassword" >Confirm Password</label>
                </div>
                <div *ngIf="forgotPasswordForm.errors?.['passwordmatcherror'] && forgotPasswordForm.get('ConfirmPassword')?.touched && forgotPasswordForm.get('Password')?.touched" class="error-message confirmPassword">
                    <div>Passwords don't match</div>
                </div>
                <div *ngIf="errorMessage" class="error-message confirmPassword">
                    <div>{{errorMessage}}</div>
                </div>
                <div class="createAccount">
                    <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn">Reset Password</button>
                </div>
            </form>
        </div>

    </div>  
</body>
