
<div class="modal-header">
    <h4 class="modal-title">Contract Function Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="contractEnum">{{failedLog.contractEnum}}</div>
    <div *ngIf="failedLog.contractTransactionReceipt.contractStatusEnum == 'Error'" class="revertReason">Revert Reason: <div style="color: lightcoral;">{{failedLog.contractTransactionReceipt.revertReason}}</div></div>
    <div *ngFor="let contractFunctionDetails of failedLog.contractFunctionDetails; let i = index">
        <div class="function">
            <div style="padding-right: 7px;">{{i + 1}})</div>
            <div style="color: gold;">{{contractFunctionDetails.contractFunctionEnum}}</div>
        </div>
        <div style="padding-left: 45px; display: flex;" *ngIf="contractFunctionDetails.channelName">Channel Name: <div style="padding-left: 5px; color: gold;">{{contractFunctionDetails.channelName}}</div></div>
        <div style="padding-left: 45px; display: flex;" *ngIf="contractFunctionDetails.contentID">Content ID: <div style="padding-left: 5px; color: gold;">{{contractFunctionDetails.contentID}}</div></div>
        <div style="padding-left: 45px; display: flex;" *ngIf="contractFunctionDetails.userID">UserID: <div style="padding-left: 5px; color: gold;">{{contractFunctionDetails.userID}}</div></div>
        <div style="padding-bottom: 10px;"></div>
    </div>
</div>
<div class="modal-footer">
    <button *ngIf="failedLog.contractTransactionReceipt.contractStatusEnum == 'Error'" (click)="resolveLog()">Resolve</button>
    <button (click)="splitLog()" *ngIf="failedLog.contractEnum === 'MultiCall' && failedLog.contractTransactionReceipt.contractStatusEnum == 'Error' || failedLog.contractEnum === 'ClientMultiCall' && failedLog.contractTransactionReceipt.contractStatusEnum == 'Error'">Split</button>
    <button *ngIf="failedLog.contractTransactionReceipt.contractStatusEnum == 'Error'" (click)="resolveOnChain()">On Chain</button>
</div>