@keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    15%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




.body{
    display: flex;
    position: relative;
    flex-direction: column;
    top: 90px;
    width: 100%;
    height: 90vh;
    padding-left: 30px;
    padding-right: 20px;
    color:  white;
}
.loading-screen{
    position: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    z-index: 1;
    background-color: #8e8e8e30;
}

.loading-screen .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid rgba(255, 217, 0, 0.89);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
.loading-screen p {
    margin-top: 20px;
    font-size: 30px;
    color: white;
}

.alert-Container{
    top: 80px;
    position: fixed;
    z-index: 10;
    right: 0;
    padding-right: 10px;
}

.alert {
    opacity: 0;
    animation: fade-in-out 4s ease-in-out forwards;
}

.decentralandLogo{
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 2px;
}

.body-container{
    display: grid;
    grid-template-columns: 2fr .75fr .75fr;
    gap: 15px;
}

@media screen and (max-width: 1090px) {
    .body-container {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
          "top-left top-left"
          "bottom-left bottom-right";
      }
    
      .middle{
        height: 100% !important;
      }

      .image{
        height: 100% !important;
      }

      .right-side {
        grid-area: bottom-right;
      }

  }

  @media screen and (max-width: 925px) {
    .video-Buttons {
        flex-direction: column;
        margin-right: 0px;
      }
      
    .payLater{
        margin-right: 0px !important;
        margin-bottom: 10px !important;
    }
 
    .layer-Three .descriptors{
        flex-direction: column;
    }

    .layer-Three .descriptors .dot{
        display: none;
    }
  }

  @media screen and (max-width: 780px) {
    .body-container {
        gap: 35px !important;
      }
  }

.manaPrice{
    color: white;
    font-size: 20px;
}

.videoInfo-Container{
    width: 100%;
}

.body-container .image{
    height: calc(100vh - 25%);
    position: relative;
    cursor: pointer;
}

.image-Content {
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    opacity: 0;    
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    transition: opacity .5s ease-out;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.body-container .image:hover .image-Content {
    opacity: 1;
}

.body-container .image .thumbnail{
    width: 100%;
    height: 100%;
}


.body-container .middle{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 25%);
}

.body-container .middle .manaPrice{
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle .channel-Contents{
    position: relative;
    height: 100%;
    width: 100%;
}

.channel-Contents .linked-Channel{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.purchase{
    text-align: center;
}

.linked-Channel .buy{
    display: flex;
    justify-content: center;
}

.linked-Channel .fund-Channel{
    display: flex;
    justify-content: center;
}



.linked-Channel .get-More-Mana{
    display: flex;
    justify-content: center;
}

.middle  .createNewChannel{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.body-container .right-side{
    border-left: solid #3d3d3d 1px;
    
}

.body-container .buy-Title{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    text-align: center;
}

.buyers{
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.buyers .buyer-ChannelName{
    padding-right: 5px;
    margin-top: 2px;
    border-right: 1px solid white;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 40%;
    display: block;
    overflow: hidden
}

.buyers .buyer-Amount{
    padding-left: 5px;

}

.video-Descriptors{
    font-size: 20px;
    width: 100%;
}

.channelbalance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.channelbalance .header{
    font-size: 20px;
}

.cost{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: gray;
}

.video-Descriptors .layer-One{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    width: 100%;
}

.layer-One .content-Status{
    display: flex;
}

.layer-One .isViolator{
    padding-left: 10px;
    color: red;
}
.video-Descriptors .layer-Two{
    display: flex;
    padding-top: 5px;
    width: 100%;
    justify-content: space-between;
}

.video-Descriptors .duration{
    display: flex;
}

.video-Descriptors .video-duration{
    padding-left: 5px;
}

.video-Descriptors .not-Available{
    padding-left: 5px;
}

.layer-Two .youtube-Info{
    display: flex;
    max-width: 100%;
}

.status-purple {
    color: rgb(170, 0, 170);
}

.status-green {
    color: rgb(0, 170, 0);
}

.status-grey {
    color: rgb(170, 170, 170);
}

.youtube-Info .youtubeProfilePicture{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.youtube-Info .youtubeUsername{
    font-size: 15px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    color: rgb(170, 170, 170);
}

.youtube-Info .contentName{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.layer-Two .video-Buttons{
    display: flex;
}

.video-Buttons .payLater{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.payLater .payLater-Button{
    height: 35px;
    border: none;
    padding: 0px 10px 0 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(85, 85, 85);
    color: white;
    border: 1px solid rgb(70, 70, 70);
}

.payLater .payLater-Status{
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0px 10px 0 7px;
    background-color: rgb(112, 111, 111);
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgb(70, 70, 70)
}

.payLater .payLater-Status:hover{
    background-color: rgb(100, 100, 100);
}

.video-Buttons .watchTrailer{
    height: 35px;
    border: none;
    display: flex;
    align-self: center;
}

.watchTrailer .watchTrailer-Button{
    padding: 0px 10px 0 10px;
    border: none;
    border-radius: 20px;
    background-color: rgb(85, 85, 85);
    color: white;
    border: 1px solid rgb(70, 70, 70);
}

.video-Descriptors .layer-Three{
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.layer-Three .hype{
    padding-right: 10px;
}

.layer-Three .descriptors{
    display: flex;
    align-items: center;
}

.layer-Three .dot{
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.layer-Three .releaseDate{
    padding-left: 10px;
}

.layer-Three .video-Buttons{
    display: flex;
    
}
 
.description{
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 100%;
    background-color: #3d3d3d;
    font-size: 14px;
    color: rgb(226, 226, 226);
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}


.mainButton {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 00;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .mainButton:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  